<?xml version="1.0"?>
<!--
  task constrained motion planning for Universal robot ur10 launch.

  Usage:
    rosrun ur_move 22may_fakec.launch robot_ip:=<value>
    edit: Marie Claire Capolei s151188@student.dtu.dk
-->

<launch>

	
	

        <arg name="odom_frame_id"   default="odom"/>
        <arg name="base_frame_id"   default="base_link"/>
        <arg name="global_frame_id" default="world"/>
	<!--<arg name="global_frame_id" default="base"/>-->
	<!-- By default, we do not start a database (it can be large) -->
	<arg name="db" default="false" />
	<!-- By default, we are not in debug mode -->
	<arg name="debug" default="false" />
	
	<arg name="gui" default="true" />
	<param name="use_gui" value="$(arg gui)"/>
	
	<!-- Load real robot model  
	<include file="$(find ur_modern_driver)/launch/ur10_bringup.launch">
	<arg name="robot_ip" default="192.38.66.227" />
	<arg name="limited" default="false" />
	</include> 
	<include file="$(find my_ur10_limited)/launch/move_group.launch"></include>-->
	
	
	<!-- We do not have a robot connected, so publish fake joint states -->
	 <rosparam command="load" file="$(find my_ur10_limited)/config/joint_zeros.yaml" />
	
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
	  <param name="/use_gui" value="false"/>
	  <rosparam param="/source_list">[/move_group/fake_controller_joint_states]</rosparam>
	</node>
	
	<!-- Given the published joint states, publish tf for the robot links -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

	
	<!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
	<include file="$(find my_ur10_limited)/launch/move_group.launch">
	<arg name="allow_trajectory_execution" value="true"/>  
	<arg name="fake_execution" value="true"/>
	<arg name="info" value="true"/>
	<arg name="debug" value="$(arg debug)"/>
	</include>
	
	
	

	


	<!--<node name="rviz" pkg="rviz" type="rviz"/> -->
	<!-- Run Rviz and load the default config to see the state of the move_group node-->
	<include file="$(find my_ur10_limited)/launch/moveit_rviz.launch">
	<arg name="config" value="true"/>
	<arg name="debug" value="$(arg debug)"/>
	</include> 
 


   

</launch>
